h1{
    font-size: 2rem;
}

p{
    font-size: 1rem;
}

.hero {
    background:#f3f3f3;
    font-family: sans-serif;
    text-align: left;
    height: 15rem;
    width: 100%;
}

a.btn-hero {
    text-decoration: none;
    list-style: none;
}

.banner {
    height: 100%;
    background:grey;
}

.btn-hero {
    background: #fefefe;
    border: solid 5px white;
    border-radius: 5px;
    color:lightgrey;
    font-family: sans-serif;
    font-weight: bold;

}

.btn-hero:hover{
    background: black;
    border: solid 5px black;
    color: white;
}