/* globals */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Slab:wght@400;700;900&display=swap');
/*
--primary-text-color: white;
--secondary-text-color: grey;
--primary-color: #08ffc8;
--secondary-color: #dadada;
--accent-color: #204969;
--background-color: #fff7f7;
//google font link
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Slab:wght@400;700;900&display=swap" rel="stylesheet">
font-family: 'Lato', sans-serif;
font-family: 'Roboto Slab', serif;

*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f3f3f3;
  font-family: 'Lato', sans-serif;

}
/* headings */

h1{
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
}
/* paragraphs */

p{
  font-size: 1rem;
}

/* links */
a {
  list-style: none;
  color: #fefefe;
  margin: 0px 5px;
}

a:visited {
  list-style: none;
  color:#08ffc8;
}

a:active {
  color: #d1e70c;
}

li {
  list-style: none;
  display: inline;
  padding: 14px 16px;
  text-align: center;
}

/*nav section*/
.nav{
  background: #204969;
  color: white;
  display: block;
  margin: 10px 0px;
  height: 50px;
  width: 100%;
  padding: 10px 20px;
  color:#f3f3f3;
}

.logo{
  float: left;
}

.navLinks {
  float: right;
  width: 30%;
  color: #f3f3f3;
}

/*hero section*/
.hero {
  background:#f3f3f3;
  border-radius: 5px;
  font-family: sans-serif;
  text-align: left;
  height: 15rem;
  width: 100%;
}

a.btn-hero {
  text-decoration: none;
  list-style: none;
}

.banner {
  height: 100%;
  background:grey;
}

.btn-hero {
  background: #fefefe;
  border: solid 5px white;
  border-radius: 5px;
  color:lightgrey;
  font-family: sans-serif;
  font-weight: bold;

}

.btn-hero:hover{
  background: black;
  border: solid 5px black;
  color: white;
}

/* services */
.service-list {
  background:#204969;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  max-width: 90%;
  margin: 10px;
  width: 80%;
  height: 10rem;
}

.box h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: grey;
}

.box h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}

.box-preview {
  background-color: #08ffc8;
  border-radius: 10px 0px 0px 10px;
  color:#fff;
  padding: 30px;
  width: 250px;
}

.box-info {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 30px;
  position: relative;
  width: 100%;
  color:#204969;

}

.box .btn-info {
	background-color: #08ffc8;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 5px;
	padding: 10px 10px;
	letter-spacing: 1px;
}



/* tickets section */

.ticket-table {
  font-family: sans-serif;
  width: 100%;
}

.ticket-table td, .ticket-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.ticket-table tr:nth-child(even){background-color: #7cbbf6;}

.ticket-table tr:hover {background-color: #ddd;}

.ticket-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #204969;
  color: #f3f3f3;
}

.btn-add {
  background: #204969;
  border-radius: 5px;
  color: #f3f3f3;
  font-family: sans-serif;
  font-weight: bold;
  height: 2.5rem;
  width: 4rem;
  margin: 5px 5px;
}

/* add incident section */
.addIncident-form {
  border: 5px solid blue;
  height: 30rem;
  width: 30rem; 
  margin: 0 auto;
  padding: 10px;
}

.form-group {
  border: 2px solid red;
  margin: 5px 5px;
  padding: 10px;
}

form {
  height: 300px;
  width: 300px;
}

/*footer section*/
.footer {
  background: #204969;
  display: inline-block;
  font-weight: bold;
  margin: 1.5rem 0px;
  height: 50px;
  width: 100%;
  padding: 20px 20px;
  color:#f3f3f3;
}

.social {
  float: right;
  color: #f3f3f3;
  font-weight: bold;
  width: 40%;
}

.copy {
  float: left;
  width: 40%;
}
