/* globals */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Slab:wght@400;700;900&display=swap');
/*
--primary-text-color: white;
--secondary-text-color: grey;
--primary-color: #08ffc8;
--secondary-color: #dadada;
--accent-color: #204969;
--background-color: #fff7f7;
//google font link
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Slab:wght@400;700;900&display=swap" rel="stylesheet">
font-family: 'Lato', sans-serif;
font-family: 'Roboto Slab', serif;

*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f3f3f3;
  font-family: 'Lato', sans-serif;

}
/* headings */

h1{
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
}
/* paragraphs */

p{
  font-size: 1rem;
}

/* links */
a {
  list-style: none;
}

li {
  list-style: none;
  display: inline;
  padding: 14px 16px;
  text-align: center;
}

/*logo section*/

/*nav section*/


/*hero section*/
.hero {
  background:#f3f3f3;
  border-radius: 5px;
  font-family: sans-serif;
  text-align: left;
  height: 15rem;
  width: 100%;
}

a.btn-hero {
  text-decoration: none;
  list-style: none;
}

.banner {
  height: 100%;
  background:grey;
}

.btn-hero {
  background: #fefefe;
  border: solid 5px white;
  border-radius: 5px;
  color:lightgrey;
  font-family: sans-serif;
  font-weight: bold;

}

.btn-hero:hover{
  background: black;
  border: solid 5px black;
  color: white;
}

/* services */
.service-list {
  background:lightgray;
}

/*footer section*/
.footer {
  background: #204969;
  display: inline-block;
  font-weight: bold;
  height: 50px;
  width: 100%;
  padding: 20px 20px;
  color:#f3f3f3;
}

.social {
  float: right;
  color: #f3f3f3;
  font-weight: bold;
  width: 40%;
}

.copy {
  float: left;
  width: 40%;
}

/* tickets section */

.ticket-table {
  font-family: sans-serif;
  width: 100%;
}

.ticket-table td, .ticket-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.ticket-table tr:nth-child(even){background-color: #7cbbf6;}

.ticket-table tr:hover {background-color: #ddd;}

.ticket-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #204969;
  color: #f3f3f3;
}

