/* globals */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f3f3f3;
}
/* headings */

h1{
  font-size: 2rem;
}
/* paragraphs */

p{
  font-size: 1rem;
}

/* links */

a {
  list-style: none;
}

li {
  list-style: none;
  display: inline;
  padding: 14px 16px;
  text-align: center;
}

/*logo section*/

/*nav section*/


/*hero section*/
.hero {
  background:#f3f3f3;
  border-radius: 5px;
  font-family: sans-serif;
  text-align: left;
  height: 15rem;
  width: 100%;
}

a.btn-hero {
  text-decoration: none;
  list-style: none;
}

.banner {
  height: 100%;
  background:grey;
}

.btn-hero {
  background: #fefefe;
  border: solid 5px white;
  border-radius: 5px;
  color:lightgrey;
  font-family: sans-serif;
  font-weight: bold;

}

.btn-hero:hover{
  background: black;
  border: solid 5px black;
  color: white;
}

/* services */
.service-list {
  background:lightgray;
}

/*footer section*/
.footer {
  background: #f4f4f4;
  display: inline-block;
  height: 50px;
  width: 100%;
  padding: 20px 20px;
}

.social {
  float: right;
  color: blue;
  width: 40%;
}

.copy {
  float: left;
  width: 40%;
}

/* tickets section */

.ticket-table {
  font-family: sans-serif;
  width: 100%;
}

.ticket-table td, .ticket-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.ticket-table tr:nth-child(even){background-color: #f2f2f2;}

.ticket-table tr:hover {background-color: #ddd;}

.ticket-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white
}

